body{
    margin: 0px;
    height: 100vh;
    background-color: white;
}



.row{
    display: flex;
    flex-direction: row;
   

}

.col{
    display:flex;
    flex-direction:column;
    margin: 10px;
    float: left;
}
.col2{
    display:flex;
    flex-direction:column;
    margin: 10px;
    float: right;
}
.topnav {
    text-align: center;
    flex-direction:column;
    overflow: hidden;
    background-color: rgb(58, 56, 56);
    word-spacing: 70px;
    position: sticky;
    top: 0px;
  }

  .topnav a {
    float: center;
    display:inline-block ;
    color: lightgrey;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  .topnav a:hover{
    text-shadow: .8px .8px  rgb(211, 206, 206);
}

.p1{
    text-align: center;
    font-size: 14px;

}